<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Tab Header -->
    <title>Dracoids: Tabletop RPG</title>

    <!-- Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Orbitron&display=swap" rel="stylesheet">
</head>

<body>
    <div id="mainContainer">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <br>
        <footer></footer>
    </div>
</body>

</html>