<header id="TitleScreen">
    <a href="index.html">
        <img id="TitleScreenLogo" src="../assets/images/logoSmall.png" alt="Dracoids Logo">
    </a>
    <h1 id="TitleScreenText">Dracoids: Tabletop RPG</h1>
</header>

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li>
            <a href="https://www.amazon.com/Dracoids-Prototype-Drake-Briar-Scalenia-Glass/dp/B09WXG2Y25/">
                Buy the book!
            </a>
        </li>
        <li><a href="approaches">Approaches</a></li>
        <!-- <li><a href="characterCreator">Create a Character</a></li> -->
        <li><a href="https://drive.google.com/drive/folders/1vLUyHz2pQDJEsfhPxiN8HEW615v3UUEF?usp=drive_link">Character
                Sheets</a></li>
    </ul>
</nav>