<div>
    <img id="climber" src="../assets/images/approachPortraits/Acrobat.png" alt="An Acrobat climbing a cliff">
    <h1>
        Welcome to the world of Dracoids.</h1>
    <br>
    <h2>
        Dracoids is a TableTop RPG based in a world that is halfway between fantasy and the future. Players will
        have the ability to cast dozens of different types of spells, meet mythical creatures, and engage in
        combat
        with monsters and creatures of all different types, while still being able to take advantage of the
        wonders
        of technology. The world of Verum marries magic and technology together in a way that allows the world
        to
        feel real, lived in, and functional.
    </h2>

    <h2>
        Dracoids has 23 Approaches for players to choose from -- but who wants to pick just one? Every character
        made in Dracoids starts with two Approaches, giving players nearly infinite freedom over the characters
        they
        create and the roles they choose to play. With just two approaches, players can make over 250 different
        combinations of Approaches, and that's just at the first level. Players can choose to continue to level
        up
        the Approaches they've already selected or choose to take more Approaches with no restriction, allowing
        for
        both endless freedom of character creation as well as exceptional potential for characters to develop
        and
        change as a campaign progresses.
    </h2>

    <h2>
        Most Dracoids campaigns will start with the player as a member of The Faction, a mysterious organization
        of
        mercenaries, bounty hunters, scientists, spies, politicians, and so much more. They run things in Verum,
        protecting the Midworld from local, global, and extraplanar threats that constantly come knocking at
        their
        door.
    </h2>
    <br>
    <!-- <a id="factionBtn" href="characterCreator">Join the Faction!</a> -->
    <br><br>
</div>