<h1>Approaches</h1>
<hr>

<div class="statBox">
    <h1>Strength</h1>
    <div class="iconBox">
        <a *ngFor="let approach of strApproaches" href="approaches/{{approach}}"><img id="{{approach}}"
                src="../assets/images/approachIcons/{{approach}}.png" alt="{{approach}}"></a>
    </div>
    <br>
</div>
<div class="statBox">
    <hr>
    <h1>Dexterity</h1>
    <div class="iconBox">
        <a *ngFor="let approach of dexApproaches" href="approaches/{{approach}}"><img id="{{approach}}"
                src="../assets/images/approachIcons/{{approach}}.png" alt="{{approach}}"></a>
    </div>
    <br>
</div>
<div class="statBox">
    <hr>
    <h1>Constitution</h1>
    <div class="iconBox">
        <a *ngFor="let approach of conApproaches" href="approaches/{{approach}}"><img id="{{approach}}"
                src="../assets/images/approachIcons/{{approach}}.png" alt="{{approach}}"></a>
    </div>
    <br>
</div>
<div class="statBox">
    <hr>
    <h1>Intelligence</h1>
    <div class="iconBox">
        <a *ngFor="let approach of intApproaches" href="approaches/{{approach}}"><img id="{{approach}}"
                src="../assets/images/approachIcons/{{approach}}.png" alt="{{approach}}"></a>
    </div>
    <br>
</div>
<div class="statBox">
    <hr>
    <h1>Wisdom</h1>
    <div class="iconBox">
        <a *ngFor="let approach of wisApproaches" href="approaches/{{approach}}"><img id="{{approach}}"
                src="../assets/images/approachIcons/{{approach}}.png" alt="{{approach}}"></a>
    </div>
    <br>
</div>
<div class="statBox">
    <hr>
    <h1>Charisma</h1>
    <div class="iconBox">
        <a *ngFor="let approach of chaApproaches" href="approaches/{{approach}}"><img id="{{approach}}"
                src="../assets/images/approachIcons/{{approach}}.png" alt="{{approach}}"></a>
    </div>
    <br>
</div>